:host {
  --brightness-change--: 20;
  --textarea-background-color--: var(--textarea-background-color, white);
  --textarea-background-color-disabled--: hsl(from var(--textarea-background-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) / 2));

  --textarea-color--: var(--textarea-color, black);
  --textarea-color-disabled--: hsl(from var(--textarea-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --textarea-border-color--: var(--textarea-border-color, #969696);

  --textarea-border-color-hover--: hsl(from var(--textarea-border-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));
  --textarea-border-color-disabled--: hsl(from var(--textarea-border-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --textarea-label-color--: var(--textarea-label-color, #737373);
  --textarea-label-color-disabled--: hsl(from var(--textarea-label-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) * -.5));

  --textarea-invalid-color--: var(--textarea-invalid-color, #dc0000);
  --textarea-invalid-color-hover--: hsl(from var(--textarea-invalid-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --textarea-outline-color--: var(--textarea-outline-color, Highlight);
  --textarea-padding--: var(--textarea-padding, 6px);
}

* {
  font: 1rem "Roboto", serif;
}

.textarea {
  background-color: var(--textarea-background-color--);
  display: inline-flex;
  border-radius: .3rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--textarea-border-color--);
  flex: 1;
}

.textarea:focus {
  outline: var(--textarea-outline-color--) 3px solid;
}

.textarea:hover,
.textarea:focus {
  color: var(--textarea-color--);
  border-color: var(--textarea-border-color-hover--);
  transition: border-color ease 50ms;
}

:host(:state(interacted-invalid)) {
  .textarea {
    border-color: var(--textarea-invalid-color--);
  }

  .textarea:hover,
  .textarea:focus {
    border-color: var(--textarea-invalid-color-hover--);
  }
}
label {
  position: absolute;
  transition: transform ease 50ms;
  color: var(--textarea-label-color--);
  font-size: 1.1em;
  margin: 0 0 0 6px;
  border-radius: 16px;
  transform: translateY(-55%);
  background: linear-gradient(180deg, transparent 0 0.04rem, var(--textarea-background-color--) 0.6rem 0.9rem, transparent 0.9rem 100%);
}

:host([required]) {
  label::after {
    content: " (" attr(data-text-required) ")";
    font-size: .78rem;
    vertical-align: top;
    color: var(--textarea-invalid-color--);
  }
}

textarea[disabled]::placeholder {
  color: transparent;
}

:host {
  display: inline-flex;
  flex: 1;
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  display: inline-flex;
  flex: 1;
  box-sizing: border-box;
  max-width: 100%;
  margin: .6rem 3px .3rem;
}

.control {
  background-color: var(--textarea-background-color--);
  color: var(--textarea-color--);
  display: inline-flex;
  padding: var(--textarea-padding--);
  min-height: 0;
  min-width: 0;
  flex-wrap: wrap;
  border-radius: .3rem;
  font-size: 1.10em;
  resize: none;
}

:host(:state(disabled)) {
  .textarea, .control {
    background-color: var(--textarea-background-color-disabled--);
    color: var(--textarea-color-disabled--);
    border-color: var(--textarea-border-color-disabled--);
  }

  label {
    color: var(--textarea-label-color-disabled--)
  }

  label:not([x]) {
    background: linear-gradient(180deg, transparent 0 6px, var(--textarea-background-color-disabled--) 6px 15px, transparent 15px 100%);
  }
}
