:host {
  --brightness-change--: 20;
  --tab-color--: var(--tab-color, hsl(0 0% 10%));
  --tab-color-hover--: hsl(from var(--tab-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --tab-border-color--: var(--tab-border-color, #969696);
  --tab-border-color-hover--: hsl(from var(--tab-border-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --tab-outline-color--: var(--tab-outline-color, Highlight);
}

* {
  font: 1rem "Roboto", serif;
}

* {
  box-sizing: border-box;
}


:host {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow-x: scroll;
}

#headers {
  display: flex;
  flex: 1 1 100%;
  box-shadow: 0 3px solid var(--tab-border-color--);
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 6px;

  app-button {
    flex: 1;
    --button-background-color: transparent;
    box-shadow: 0 3px var(--tab-border-color--);
    margin-bottom: 3px;
  }

  ::part(button) {
    padding: 9px;
  }

  ::part(button) {
    color: var(--tab-color--);
  }

  app-button:hover {
    box-shadow: 0 3px var(--tab-border-color-hover--);
  }

  :hover::part(button) {
    color: var(--tab-color-hover--);
  }

  app-button[data-selected] {
    box-shadow: 0 3px var(--tab-outline-color--);
  }

  [data-selected]::part(button) {
    color: var(--tab-color-hover--);
  }
}
