:host {
  --brightness-change--: 20;
  --tab-color--: var(--tab-color, hsl(0 0% 10%));
  --tab-color-hover--: hsl(from var(--tab-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --tab-border-color--: var(--tab-border-color, #969696);
  --tab-border-color-hover--: hsl(from var(--tab-border-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --tab-outline-color--: var(--tab-outline-color, Highlight);
}

* {
  font: 1rem "Roboto", serif;
}

* {
  box-sizing: border-box;
}


:host {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

#container {
  display: flex;
  flex: 1;
  gap: 3px;
}

details {
  display: flex;
  flex: 1;
  box-shadow: 0 3px solid var(--tab-border-color--);
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 6px;
  flex-direction: column;

  > summary {
    display: flex;
    box-shadow: 0 3px var(--tab-border-color--);
    margin-bottom: 3px;
    border-radius: 0;
    padding: 9px;
    color: var(--tab-color--);
    justify-content: center;

    &:hover {
      box-shadow: 0 3px var(--tab-border-color-hover--);
      color: var(--tab-color-hover--);
    }
  }

  &[open] {
    > summary {
      box-shadow: 0 3px var(--tab-outline-color--);
      color: var(--tab-color-hover--);
    }
  }
}
