:host {
  --brightness-change--: 20;
  --image-input-background-color--: var(--image-input-background-color, white);
  --image-input-background-color-disabled--: hsl(from var(--image-input-background-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) / 2));

  --image-input-color--: var(--image-input-color, black);
  --image-input-color-disabled--: hsl(from var(--image-input-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --image-input-border-color--: var(--image-input-border-color, #969696);

  --image-input-border-color-hover--: hsl(from var(--image-input-border-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));
  --image-input-border-color-disabled--: hsl(from var(--image-input-border-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --image-input-label-color--: var(--image-input-label-color, #737373);
  --image-input-label-color-disabled--: hsl(from var(--image-input-label-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) * -.5));

  --image-input-invalid-color--: var(--image-input-invalid-color, #dc0000);
  --image-input-invalid-color-hover--: hsl(from var(--image-input-invalid-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --image-input-outline-color--: var(--image-input-outline-color, Highlight);
  --image-input-padding--: var(--image-input-padding, .3rem);

  --image-input-background-color-hover--: hsl(from var(--image-input-background-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));
}

img {
  border-radius: .3rem;
  display: inline-flex;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1.41421;
  object-fit: contain;
  border: .06rem solid var(--image-input-border-color--);
  flex: 1;
}

label {
  position: absolute;
  color: var(--image-input-color--);
  margin: 0 0 0 .3rem;
  transform: translateY(-60%);
  background: linear-gradient(180deg, transparent 0 0.44rem, var(--image-input-background-color--) 0.44rem 0.9rem, transparent 0.9rem 100%);
  transition: transform ease 50ms;
}

:host {
  padding: .3rem;
  margin-top: .12rem;
  display: inline-flex;
  flex: 1;
  box-sizing: border-box;
  max-width: 100%;
  flex-direction: column;
  gap: .3rem
}

:host([required]) {
  label::after {
    content: "*";
    color: var(--image-input-invalid-color--);
  }
}

input:not(input:focus)::placeholder {
  color: transparent;
}

img:hover, img:focus {
  border-color: var(--image-input-border-color-hover--);
}

input[data-invalid] + img {
  border-color: var(--image-input-invalid-color--)
}

input[data-invalid] + img:hover {
  border-color: var(--image-input-invalid-color-hover--);
}

img:focus-visible {
  outline: var(--image-input-outline-color--) .12rem solid;
}

:host([disabled]) > img {
  background-color: var(--image-input-background-color-disabled--)
}

:host([disabled]) {
  label {
    content: "*";
    background: linear-gradient(180deg, transparent 0 0.44rem, var(--image-input-background-color-disabled--) 0.44rem 0.9rem, transparent 0.9rem 100%);
  }
}
