:root {
  --default-brightness-1: -5;
  --default-brightness-2: -10;

  --app-background-1-brightness: var(--default-brightness-1);
  --app-background-2-brightness: var(--default-brightness-1);
  --app-background-3-brightness: var(--default-brightness-1);
  --app-background-4-brightness: var(--default-brightness-1);

  --app-color-1-brightness: var(--default-brightness-1);
  --app-color-2-brightness: var(--default-brightness-1);

  --app-input-brightness: var(--default-brightness-2);
  --app-button-brightness: 10;

  --app-visited-brightness: var(--default-brightness-1);
  --app-negative-brightness: var(--default-brightness-1);
  --app-positive-brightness: var(--default-brightness-1);

  --button-background-color: var(--app-button-background-color);
  --button-brightness-1: var(--app-button-brightness);
  --button-brightness-2: calc(var(--app-button-brightness) * 2);

  --button-color: var(--app-button-color);
  --button-outline-color: var(--app-outline);

  --input-background-color: var(--app-input-background-color);
  --input-brightness-1: var(--app-input-brightness);
  --input-brightness-2: calc(var(--app-input-brightness) * 2);

  --input-color: var(--app-text-1);
  --input-outline-color: var(--app-outline);
  --input-label-color: var(--app-text-2);

  --textarea-background-color: var(--app-input-background-color);
  --textarea-brightness-1: var(--app-input-brightness);
  --textarea-brightness-2: calc(var(--app-input-brightness) * 2);

  --textarea-color: var(--app-text-1);
  --textarea-outline-color: var(--app-outline);
  --textarea-label-color: var(--app-text-2);

  --image-input-background-color: var(--app-background-1);
  --image-input-brightness-1: var(--app-input-brightness);
  --image-input-brightness-2: calc(var(--app-input-brightness) * 2);

  --image-input-color: var(--app-text-1);
  --image-input-outline-color: var(--app-outline);

  --header-background-color: var(--app-background-1);

  --header-color: var(--app-text-1);
  --header-color-hover: var(--app-color-2);

  --header-border-color: var(--app-color-2);

  --header-logout-button-background-color: var(--app-negative);
  --header-logout-button-brightness: var(--app-negative-brightness);

  --header-logout-button-color: var(--app-negative-text);
  --table-odd-background-color: var(--app-background-2);
  --table-even-background-color: var(--app-background-3);

  --table-color: var(--app-text-1);

  --app-text-1-brightness: calc(var(--default-brightness-1) * -1);
  --app-text-2-brightness: calc(var(--default-brightness-2) * -1);
}

/*noinspection DuplicatedCode*/
@media (prefers-color-scheme: light) {
  :root {
    --default-brightness-1: -5;
    --default-brightness-2: -10;

    --app-background-1: hsl(0 0% 100%);
    --app-background-2: hsl(0 0% 95%);
    --app-background-3: hsl(0 0% 90%);
    --app-background-4: hsl(0 0% 85%);

    --app-color-1: hsl(0 0% 30%);
    --app-color-2: hsl(0 0% 60%);

    --app-text-1: hsl(0 0% 10%);
    --app-text-2: hsl(0 0% 30%);

    --app-input-color: hsl(0 0% 95%);
    --app-button-color: hsl(0 0% 95%);

    --app-input-text: hsl(0 0% 5%);
    --app-button-text: hsl(0 0% 95%);

    --app-outline: highlight;
    --app-link: #4385e4;
    --app-visited: #842fb6;
    --app-negative: #c80f0f;
    --app-positive: #16aa15;
    --app-negative-text: hsl(0 0% 95%);
    --app-positive-text: hsl(0 0% 95%);
  }
}

/*noinspection DuplicatedCode*/
@media (prefers-color-scheme: dark) {
  :root {
    --default-brightness-1: 10;
    --default-brightness-2: 20;

    --app-background-1: hsl(0 0% 15%);
    --app-background-2: hsl(0 0% 20%);
    --app-background-3: hsl(0 0% 25%);
    --app-background-4: hsl(0 0% 30%);

    --app-color-1: hsl(0 0% 70%);
    --app-color-2: hsl(0 0% 40%);

    --app-text-1: hsl(0 0% 90%);
    --app-text-2: hsl(0 0% 65%);

    --app-input-background-color: hsl(0 0% 20%);
    --app-button-background-color: hsl(208, 76%, 37%);

    --app-input-color: hsl(0 0% 95%);
    --app-button-color: hsl(0 0% 95%);

    --app-outline: highlight;
    --app-visited: #c76fff;
    --app-link: #4182e6;
    --app-negative: #c80f0f;
    --app-positive: #16aa15;
    --app-negative-text: hsl(0 0% 95%);
    --app-positive-text: hsl(0 0% 95%);

    --app-negative-brightness: -10;
    --app-positive-brightness: -10;
  }
}

/*noinspection DuplicatedCode*/
:root[data-color-scheme="light"] {
  --default-brightness-1: -5;
  --default-brightness-2: -10;

  --app-background-1: hsl(0 0% 100%);
  --app-background-2: hsl(0 0% 95%);
  --app-background-3: hsl(0 0% 90%);
  --app-background-4: hsl(0 0% 85%);

  --app-color-1: hsl(0 0% 30%);
  --app-color-2: hsl(0 0% 60%);

  --app-text-1: hsl(0 0% 10%);
  --app-text-2: hsl(0 0% 30%);

  --app-input-background-color: hsl(0 0% 100%);
  --app-button-background-color: hsl(208 50% 46.5%);

  --app-input-color: hsl(0 0% 95%);
  --app-button-color: hsl(0 0% 95%);

  --app-outline: highlight;
  --app-visited: #842fb6;
  --app-negative: #c80f0f;
  --app-positive: #16aa15;
  --app-negative-text: hsl(0 0% 95%);
  --app-positive-text: hsl(0 0% 95%);
}

/*noinspection DuplicatedCode*/
:root[data-color-scheme="dark"] {
  --default-brightness-1: 10;
  --default-brightness-2: 20;

  --app-background-1: hsl(0 0% 15%);
  --app-background-2: hsl(0 0% 20%);
  --app-background-3: hsl(0 0% 25%);
  --app-background-4: hsl(0 0% 30%);

  --app-color-1: hsl(0 0% 70%);
  --app-color-2: hsl(0 0% 40%);

  --app-text-1: hsl(0 0% 90%);
  --app-text-2: hsl(0 0% 65%);

  --app-input-background-color: hsl(0 0% 20%);
  --app-button-background-color: hsl(208, 76%, 37%);

  --app-input-color: hsl(0 0% 95%);
  --app-button-color: hsl(0 0% 95%);

  --app-outline: highlight;
  --app-visited: #c76fff;
  --app-negative: #c80f0f;
  --app-positive: #16aa15;
  --app-negative-text: hsl(0 0% 95%);
  --app-positive-text: hsl(0 0% 95%);

  --app-negative-brightness: -10;
  --app-positive-brightness: -10;
}

html {
  background-color: var(--app-background-1);
  color: var(--app-text-1);
}

a:link {
  color: var(--app-link);
}

a:visited {
  color: var(--app-visited);
}

.login {
  --button-background-color: var(--app-positive);
  --button-brightness-1: var(--app-positive-brightness);
  --button-brightness-2: calc(var(--app-positive-brightness) * 2);
  --button-color: var(--app-positive-text);
}
