
.col {
  display: inline-flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  align-content: flex-start;
  box-sizing: border-box;
  /*Experiment*/
  transition: width linear 150ms;
}


.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.6667%;
}

.col-10 {
  width: 83.3333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.6667%;
}

.col-7 {
  width: 58.3333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.6667%;
}

.col-4 {
  width: 33.3333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.6667%;
}

.col-1 {
  width: 8.3333%;
}

@media screen and (min-width: 900px) {
  .col-l-1,
  .col-l-2,
  .col-l-3,
  .col-l-4,
  .col-l-5,
  .col-l-6,
  .col-l-7,
  .col-l-8,
  .col-l-9,
  .col-l-10,
  .col-l-11,
  .col-l-12 {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    align-content: flex-start;
    box-sizing: border-box;
    /*Experiment*/
    transition: width linear 150ms;
  }

  .col-l-12 {
    width: 100%;
  }

  .col-l-11 {
    width: 91.6667%;
  }

  .col-l-10 {
    width: 83.3333%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-8 {
    width: 66.6667%;
  }

  .col-l-7 {
    width: 58.3333%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-5 {
    width: 41.6667%;
  }

  .col-l-4 {
    width: 33.3333%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-2 {
    width: 16.6667%;
  }

  .col-l-1 {
    width: 8.3333%;
  }
}

@media screen and (max-width: 900px) {
  .col-m-1,
  .col-m-2,
  .col-m-3,
  .col-m-4,
  .col-m-5,
  .col-m-6,
  .col-m-7,
  .col-m-8,
  .col-m-9,
  .col-m-10,
  .col-m-11,
  .col-m-12 {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    align-content: flex-start;
    box-sizing: border-box;
    /*Experiment*/
    transition: width linear 150ms;
  }

  .col-m-12 {
    width: 100%;
  }

  .col-m-11 {
    width: 91.6667%;
  }

  .col-m-10 {
    width: 83.3333%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-8 {
    width: 66.6667%;
  }

  .col-m-7 {
    width: 58.3333%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-5 {
    width: 41.6667%;
  }

  .col-m-4 {
    width: 33.3333%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-2 {
    width: 16.6667%;
  }

  .col-m-1 {
    width: 8.3333%;
  }
}

@media screen and (max-width: 500px) {
  .col-s-1,
  .col-s-2,
  .col-s-3,
  .col-s-4,
  .col-s-5,
  .col-s-6,
  .col-s-7,
  .col-s-8,
  .col-s-9,
  .col-s-10,
  .col-s-11,
  .col-s-12 {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    align-content: flex-start;
    box-sizing: border-box;
    /*Experiment*/
    transition: width linear 150ms;
  }

  .col-s-12 {
    width: 100%;
  }

  .col-s-11 {
    width: 91.6667%;
  }

  .col-s-10 {
    width: 83.3333%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-8 {
    width: 66.6667%;
  }

  .col-s-7 {
    width: 58.3333%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-5 {
    width: 41.6667%;
  }

  .col-s-4 {
    width: 33.3333%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-2 {
    width: 16.6667%;
  }

  .col-s-1 {
    width: 8.3333%;
  }
}

