html {
    font: 1rem "Fira Sans", sans-serif;
    background-color: var(--background);
}

a,
html {
    color: var(--primary-text);
}

app-footer {
    background: var(--primary-background);
}

body {
    margin: 0;
}

:root {
    --primary-text: #000000;
    --secondary-text: #888888;

    --inverted-primary-text: white;
    --inverted-secondary-text: white;
    --background: #ffffff;
    --primary-background: #f0f0f0;
    --secondary-background: #dadada;
    --input-background: #ffffff;
    --border: #b6b6b6;

    --hover: #e6e6e6;
    --clickable: #d6d6d6;
    --feedback: #c5c5c5;
}

app-header {
    border-color: var(--border);
}

::part(button) {
    background-color: var(--clickable);
    color: var(--primary-text);
}

::part(button):hover, ::part(button):focus {
    background-color: var(--hover);
}

::part(button):active {
    background-color: var(--feedback);
}

::part(selected-button) {
    border-color: var(--border);
    background-color: var(--primary-background);
    color: var(--primary-text);
}

app-password-input::part(outline) {
    background-color: var(--input-background);
}

app-password-input::part(outline):hover {
    border-color: var(--hover);
}

app-password-input::part(eye-button) {
    background-color: var(--input-background);
}

::part(table) {
    background-color: var(--primary-background);
}

::part(tbody) {
    background-color: var(--secondary-background);
}

::part(tr-even) {
    background-color: var(--primary-background);
}

::part(textarea) {
    border-color: var(--border);
    background-color: var(--input-background);
    color: var(--primary-text);
}

::part(textarea):hover {
    border-color: var(--hover);
}

::part(input) {
    border-color: var(--border);
    background-color: var(--input-background);
    color: var(--primary-text);
}

::part(input):hover {
    border-color: var(--hover);
}

app-image-input::part(img) {
    border-color: var(--border);
}

.right {
    position: absolute;
    right: 1rem;
}

li,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.footer {
    display: flex;
    flex: 1;
    align-content: space-evenly;
    margin: 10px;
    padding: 0.25rem;
    background: lightgray;
    border-radius: 5px;
    justify-content: center;
    width: 96%;
    bottom: 0;
}


.pad {
    padding: 0.33rem;
}

.pad-left {
    padding-left: 0.33rem;
}

.pad-right {
    padding-right: 0.33rem;
}

.pad-top {
    padding-top: 0.33rem;
}

.pad-bottom {
    padding-bottom: 0.33rem;
}

.mar {
    margin: 0.33rem;
}

.mar-left {
    margin-left: 0.33rem;
}

.mar-right {
    margin-right: 0.33rem;
}

.mar-top {
    margin-top: 0.33rem;
}

.mar-bottom {
    margin-bottom: 0.33rem;
}

.small-text {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

app-header {
    min-height: 50px;
}

.placeholder {
    display: flex;
    justify-content: space-evenly;
}

.placeholder > * {
    display: flex;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    vertical-align: middle;
}