/*Shadow dom*/
@import '@material-symbols/font-300/outlined.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.pad {
  padding: 6px;
}

.pad-left {
  padding-left: 6px;
}

.pad-right {
  padding-right: 6px;
}

.pad-top {
  padding-top: 6px;
}

.pad-bottom {
  padding-bottom: 6px;
}

.mar {
  margin: 6px;
}

.mar-left {
  margin-left: 6px;
}

.mar-right {
  margin-right: 6px;
}

.mar-top {
  margin-top: 6px;
}

.mar-bottom {
  margin-bottom: 6px;
}

.small-text {
  font-size: 9px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

:not(:defined) {
  display: none;
}

app-header:not(:defined) {
  display: block;
  margin: 6px;
  background-color: var(--header-background-color);
  height: 3.3rem;
  border-radius: 6px;
}

.placeholder {
  display: flex;
  justify-content: space-evenly;
}

.placeholder > * {
  display: flex;
  padding: 6px;
  border: 1px solid;
  border-radius: 6px;
  vertical-align: middle;
}

.center {
  display: flex;
  justify-content: center;
}

.center-align {
  display: flex;
  align-items: center;
}

@media (min-width: 900px) {
  .center-l {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .center-m {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .center-s {
    display: flex;
    justify-content: center;
  }
}

.login {
  margin: 6px;
  border-radius: 6px;
  box-shadow: 0 0 6px var(--app-background-4, lightgray);
  background-color: var(--app-foreground-1)
}

.login-box {
  max-width: 500px;
}

.login-border {
  border: none;
  margin: 0;
  padding: 6px;
}

a, ::part(a) {
  text-decoration: none;
}

[hidden] {
  visibility: collapse;
  width: 0;
  height: 0;
}

.column {
  flex-direction: column
}

.gap {
  gap: 9px;
}

.search {
  --input-padding: 9px;
}

p {
  margin: 0;
}

.din-4 {
  aspect-ratio: 1 / 1.41421;
  object-fit: contain;
}

.icon {
  line-height: 1;
  text-transform: none;
  font-family: "Material Symbols Outlined", serif;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-flex;
  text-rendering: optimizeLegibility;
  color: var(--input-label-color--);
  font-size: 1.5rem;
}

.small-din-4 {
  height: 3.6rem;
  border-radius: 3px;
  aspect-ratio: 1 / 1.41421;
  object-fit: contain;
}

.rating[data-rating]::before {
  font-family: "Material Symbols Outlined", serif;
  line-height: 1;
  text-transform: none;
  font-size: 1.2rem;
  display: flex;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  content: "star";
  align-self: center;
}

.rating {
  display: flex;
  font-size: 1.2rem;
  color: var(--header-color-hover--);
  align-self: center;
}

.border {
  border-radius: 3px;
  margin: 1px;
  box-shadow: 0 0 3px var(--app-color-2, lightgray);
}

.bigger {
  font-size: 1.2rem;
}

.round {
  border-radius: 6px;
}
