/*Shadow dom*/
@import '@material-symbols/font-300/outlined.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.pad {
  padding: 0.33rem;
}

.pad-left {
  padding-left: 0.33rem;
}

.pad-right {
  padding-right: 0.33rem;
}

.pad-top {
  padding-top: 0.33rem;
}

.pad-bottom {
  padding-bottom: 0.33rem;
}

.mar {
  margin: 0.33rem;
}

.mar-left {
  margin-left: 0.33rem;
}

.mar-right {
  margin-right: 0.33rem;
}

.mar-top {
  margin-top: 0.33rem;
}

.mar-bottom {
  margin-bottom: 0.33rem;
}

.small-text {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

:not(:defined) {
  display: none;
}

app-header:not(:defined) {
  display: blocK;
  background-color: var(--header-background-color);
  padding-bottom: 1px;
}

app-header {
  height: 3rem;
}

.placeholder {
  display: flex;
  justify-content: space-evenly;
}

.placeholder > * {
  display: flex;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  vertical-align: middle;
}

.center {
  display: flex;
  justify-content: center;
}

.center-align {
  display: flex;
  align-items: center;
}

@media (min-width: 900px) {
  .center-l {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .center-m {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .center-s {
    display: flex;
    justify-content: center;
  }
}

.login {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--app-background-4, lightgray);
}

.login-box {
  max-width: 500px;
}

.login-border {
  border: none;
  margin: 0;
  padding: 5px;
}

a, ::part(a) {
  text-decoration: none;
}

[hidden] {
  visibility: collapse;
  width: 0;
  height: 0;
}

.column {
  flex-direction: column
}

.gap {
  gap: 10px;
}

.search {
  --input-padding: 10px;
}

p {
  margin: 0;
}

.din-4 {
  aspect-ratio: 1 / 1.41421;
  object-fit: contain;
}
