<table part="table">
  <caption part="caption"></caption>
  <thead part="thead">
  <tr part="thead-tr tr">
  </tr>
  </thead>
  <tbody part="tbody">
  </tbody>
  <tfoot part="tfoot">
  <tr hidden part="tfoot-tr tr">
    <th colspan="2" part="tfoot-th th" scope="row">Total</th>
    <td colspan="2" part="tfoot-td td"></td>
    <td part="tfoot-td td">
      <app-button id="back" exportparts="button, button: back-button">Back</app-button>
    </td>
    <td part="tfoot-td td">
      <app-button id="next" exportparts="button, button: next-button">Next</app-button>
    </td>
  </tr>
  </tfoot>
</table>
