<table part="table">
  <caption part="caption"></caption>
  <thead part="thead">
  <tr part="thead-tr tr">
  </tr>
  </thead>
  <tbody part="tbody">
  </tbody>
  <tfoot part="tfoot">
  <tr part="tfoot-tr tr" hidden>
    <th part="tfoot-th th" scope="row" colspan="2">Total</th>
    <td part="tfoot-td td" colspan="2"></td>
    <td part="tfoot-td td">
      <app-button exportparts="button, button: back-button" id="back">Back</app-button>
    </td>
    <td part="tfoot-td td">
      <app-button exportparts="button, button: next-button" id="next">Next</app-button>
    </td>
  </tr>
  </tfoot>
</table>
