@import "/assets/components/app-header/app-header-icons.css";
@import "/assets/components/app-header/app-header-search/app-header-search.css";

:host {
  --header-background-color--: var(--header-background-color, white);
  --header-color--: var(--header-color, black);
  --brightness-change--: 20;
  --header-color-hover--: hsl(from var(--header-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));
  --header-border-color--: var(--header-border-color, lightgray);
  --header-logout-button-background-color--: var(--header-logout-button-background-color, #c80f0f);
  --header-link-color--: var(--header-link-color, #4385e4);

  --header-logout-button-color--: var(--header-logout-button-color, white);
  --header-logout-button-color-hover--: hsl(from var(--header-logout-button-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * 5));
}

#inner {
  padding-left: .6rem;
  padding-right: .6rem;
  display: flex;
  margin: 6px;
  border-radius: 3px;
  gap: 3px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--header-background-color--);
}

* {
  font: inherit;
}

* {
  box-sizing: border-box;
}

* {
  color: var(--header-color--);
}

::part(button) {
  padding: 6px;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.logo {
  display: flex;

  img {
    min-height: 2.1rem;
    width: 2.1rem;
    border-radius: 3px;
  }
}

li {
  & a {
    align-items: center;
  }
}

#user {
  summary {
    display: flex;
    align-content: center;

    img {
      min-height: 2.1rem;
      width: 2.1rem;
      border: 1px solid var(--header-border-color--);
      border-radius: 3px;
      flex: 0 0;
    }

    aspect-ratio: 1;
  }

  ul {
    transform: translateX(calc(-100% + 2.1rem + 9px));
    background-color: var(--header-background-color--);
    z-index: 1;
    position: absolute;
    border-radius: 3px;
    padding: 6px;
    margin-top: 18px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    & li:not([hidden]) ~ li > a {
      border-top: 1px solid var(--header-border-color--);
    }

    & li {
      white-space: nowrap;
      display: inline-flex;
      padding: 0;

      & app-button {
        flex: 1;
      }

      & a {
        flex: 1;
        display: inline-flex;
        padding: 9px;
      }
    }
  }
}

#user > ul > li > a:focus,
#user > ul > li > a:hover {
  color: var(--header-color-hover--);

  * {
    color: var(--header-color-hover--);
  }
}

.burger-items {
  display: flex;
  width: calc(100% - .6rem - 3px);
  font-size: 1.12rem;
  flex-direction: column;
  justify-items: stretch;

  border-radius: 3px;
  margin-top: 15px;
  flex: 1;
  margin-left: -.6rem;
}

.items {
  display: flex;
  gap: 3px;
  font-size: 1.12rem;

  & li {
    display: flex;

    a {
      display: flex;
      flex: 1;
      padding: 3px;
      border-radius: 6px;
      align-items: center;
    }
  }
}

.burger-items > li {
  padding: 0;
}

.burger-items > li > * {
  padding: 9px;
  height: 100%;
  display: flex;
  width: 100%;
}

.items > li > *:focus,
.items > li > *:hover,
.burger-items > li:has(*:focus),
.burger-items > li:hover {
  color: var(--header-color-hover--);

  * {
    color: var(--header-color-hover--)
  }
}

.items {
  align-items: center;
  justify-content: center;

  * {
    display: flex;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

summary {
  list-style: none;
}

a {
  text-decoration: none;
}

#burger {
  summary {
    display: flex;
    place-content: center;
    place-items: center;
    width: 2.1rem;
    height: 2.1rem;
  }

  summary::before {
    content: "menu";
  }

  ul {
    position: absolute;
    z-index: 1;
    background-color: var(--header-background-color--);

    li ~ li {
      border-top: 1px solid var(--header-border-color--);
    }
  }
}

#burger[open] {
  summary::before {
    content: "close";
    font-size: 1.4rem;
  }
}

details {
  cursor: pointer;
  user-select: none;
  padding: 0;

  ul {
    margin-top: 1px;

    li {
      padding: 6px;
    }
  }
}

@media (min-width: 44.01rem) {
  #burger {
    display: none;
  }
}

[hidden] {
  visibility: collapse;
  width: 0;
  height: 0;
}

@media (max-width: 44rem) {
  nav {
    display: none;
  }

  #inner {
    justify-content: space-between;
  }

  .logo {
    margin-right: auto;
  }
}


.icon::before, [class$='-icon'] {
  font-family: "Material Symbols Outlined", serif;
  line-height: 1;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-size: 1.5rem;
}

.logout {
  --button-background-color: var(--header-logout-button-background-color--);

  * {
    color: var(--header-logout-button-color--);
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.logout:hover, .logout:focus {
  * {
    color: var(--header-logout-button-color-hover--);
  }
}
