.icon::before, [class$='-icon'] {
  font-family: "Material Symbols Outlined", serif;
  line-height: 1;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-size: 1.5rem;
}

.movie-icon::before {
  content: "theaters";
}

.book-icon::before {
  content: "book_2";
}

.graphic-novel-icon::before {
  content: "menu_book";
}

.show-icon::before {
  content: "tv";
}

.game-icon::before {
  content: "videogame_asset";
}

.profile-icon::before {
  content: "person";
}

.friends-icon::before {
  content: "group";
}

.comment-icon::before {
  content: "comment";
}

.comment-icon::before {
  content: "comment";
}

.review-icon::before {
  content: "reviews";
}

.settings-icon::before {
  content: "settings";
}

.logout-icon::before {
  content: "logout";
}
