:host {
  --header-background-color--: var(--header-background-color, white);
  --header-color--: var(--header-color, black);
  --header-color-hover--: var(--header-color-hover, gray);
  --header-color-hover-mix--: color-mix(in srgb-linear, var(--header-color--), var(--header-color-hover--) 40%);
  --header-border-color--: var(--header-border-color, lightgray);
  --header-logout-button-background-color--: var(--header-logout-button-background-color, #c80f0f);
  --header-logout-button-brightness--: var(--header-logout-button-brightness, -10);

  --header-logout-button-color--: var(--header-logout-button-color, white);
}


:host {
  display: flex;
  border-bottom: 1px solid var(--header-border-color--);
  gap: 5px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--header-background-color--);
}

* {
  box-sizing: border-box;
}

* {
  color: var(--header-color--);
}

::part(button) {
  padding: 5px;
}

app-search-input {
  display: flex;
  min-width: 0;
  margin-left: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  --button-background-color: var(--header-logout-button-background-color--);
  --button-brightness-1: var(--header-logout-button-brightness--);
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    color: var(--header-logout-button-color--);
  }
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.logo {
  margin-left: 5px;
  width: 1.6rem;
  min-width: 33px;
  min-height: 33px;
  height: 1.6rem;
  display: flex;

  img {
    border-radius: 2px;
  }
}

li {
  & a {
    align-items: center;
  }
}

#user {
  margin-right: 5px;

  summary {
    height: 1.6rem;
    width: 1.6rem;
    min-height: 33px;
    min-width: 33px;

    border: 1px solid var(--header-border-color--);
    border-radius: 2px;

    img {
      border-radius: 1px;
    }

    aspect-ratio: 1;
  }

  ul {
    border: 1px solid var(--header-border-color--);
    background-color: var(--header-background-color--);
    z-index: 1;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    & li:not([hidden]) ~ li > a {
      border-top: 1px solid var(--header-border-color--);
    }

    & li {
      white-space: nowrap;
      display: inline-flex;
      padding: 0;

      & app-button {
        flex: 1;
      }

      & a {
        flex: 1;
        display: inline-flex;
        padding: 8px;
      }
    }
  }
}

#user > ul > li > a:focus,
#user > ul > li > a:hover {
  color: var(--header-color-hover-mix--);

  * {
    color: var(--header-color-hover-mix--);
  }
}

.burger-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: stretch;
}

.items {
  display: flex;
  gap: 2px;

  & li {
    a {
      display: flex;
      padding: 2px;
      border-radius: 5px;
      align-items: center;
    }
  }
}

.burger-items > li {
  padding: 0;
}

.burger-items > li > * {
  padding: 8px;
  height: 100%;
  display: flex;
  width: 100%;
}

.items > li > *:focus,
.items > li > *:hover,
.burger-items > li:has(*:focus),
.burger-items > li:hover {
  color: var(--header-color-hover-mix--);

  * {
    color: var(--header-color-hover-mix--)
  }
}

.items {
  align-items: center;
  justify-content: center;

  * {
    display: flex;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

summary {
  list-style: none;
}

a {
  text-decoration: none;
}

#burger {
  summary {
    display: flex;
    padding-left: 5px;
    font-size: 1.6rem;
    place-content: center;
    place-items: center;
    width: 35px;
    height: 35px;
  }

  summary::before {
    content: "menu";
  }

  ul {
    margin-top: 8px;
    position: absolute;
    z-index: 1;
    background-color: var(--header-background-color--);

    li ~ li {
      border-top: 1px solid var(--header-border-color--);
    }
  }
}

#burger[open] {
  summary::before {
    content: "close";
    font-size: 1.4rem;
  }
}

details {
  cursor: pointer;
  user-select: none;
  padding: 0;

  ul {
    margin-top: 1px;

    li {
      padding: 5px;
    }
  }
}

@media (min-width: 701px) {
  #burger {
    display: none;
  }

  app-search-input {
    max-width: 400px;
  }
}

[hidden] {
  visibility: collapse;
  width: 0;
  height: 0;
}

@media (max-width: 700px) {
  nav {
    display: none;
  }

  :host {
    justify-content: space-between;
  }

  .logo {
    margin-right: auto;
  }
}

#user {
  margin-right: 5px;

  ul {
    transform: translateX(calc(-100% + 35px));
  }
}

.movie-icon::before {
  content: "theaters";
}

.icon::before, [class$='-icon'] {
  font-family: "Material Symbols Outlined", serif;
  line-height: 1;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-size: 1.5rem;
}

.book-icon::before {
  content: "book_2";
}

.graphic-novel-icon::before {
  content: "menu_book";
}

.show-icon::before {
  content: "tv";
}

.game-icon::before {
  content: "videogame_asset";
}

.profile-icon::before {
  content: "person";
}

.friends-icon::before {
  content: "group";
}

.comment-icon::before {
  content: "comment";
}

.comment-icon::before {
  content: "comment";
}

.review-icon::before {
  content: "reviews";
}

.settings-icon::before {
  content: "settings";
}

.login-icon::before {
  content: "login";
}

.logout-icon::before {
  content: "logout";
}
