@import "/assets/components/app-header/app-header-icons.css";
@import "/assets/components/app-header/app-header-search/app-header-search.css";

:host {
  --header-background-color--: var(--header-background-color, white);
  --header-color--: var(--header-color, black);
  --brightness-change--: 20;
  --header-color-hover--: hsl(from var(--header-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));
  --header-border-color--: var(--header-border-color, lightgray);
  --header-logout-button-background-color--: var(--header-logout-button-background-color, #c80f0f);
  --header-link-color--: var(--header-link-color, #4385e4);

  --header-logout-button-color--: var(--header-logout-button-color, white);
  --header-logout-button-color-hover--: hsl(from var(--header-logout-button-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * 5));
  --header-outline-color--: var(--header-outline-color, Highlight);
}

* {
  box-sizing: border-box;
  color: var(--header-color--);

  & :focus-visible {
    outline: var(--header-outline-color--) 3px solid;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#header {
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  margin: 6px;
  border-radius: 6px;
  gap: 3px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--header-background-color--);
}

.logo {
  display: flex;

  img {
    height: 2.1rem;
    border-radius: 3px;
  }
}


nav {
  display: flex;
  gap: 3px;

  ul {
    display: flex;
  }

  li {
    display: flex;

    a {
      display: flex;
      flex: 1;
      padding: 3px;
      border-radius: 6px;
      align-items: center;
    }
  }
}


li > *:focus,
li > *:hover {
  color: var(--header-color-hover--);

  * {
    color: var(--header-color-hover--)
  }
}

details {
  cursor: pointer;
  user-select: none;
}

summary {
  display: flex;
}

.items {
  gap: 6px;

  a {
    padding: 3px;
    gap: 3px;
  }
}

.list-divided {
  > ul {
    li ~ li {
      border-top: 1px solid var(--header-border-color--);
    }
  }
}

.icon-list {
  > ul {
    display: flex;
    flex-direction: column;
    padding: 6px;

    a {
      display: flex;
      align-items: center;
      padding: 6px;
      gap: 3px;
    }
  }
}

.overlay {
  > ul {
    z-index: 1;
    position: absolute;
    background-color: var(--header-background-color--);
    margin-top: 18px;
    border-radius: 6px;
  }
}

#burger {
  > .icon {
    align-items: center;
    justify-content: center;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
  }

  > .icon::before {
    content: "menu";
  }

  > ul {
    left: 6px;
    right: 6px;
  }
}

#user {
  > summary {
    border-radius: 50%;

    > img {
      height: 2.1rem;
      border-radius: 50%;
    }
  }

  > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 6px;
  }
}

#settings {
  > .icon {
    align-items: center;
    justify-content: center;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
  }

  .icon::before {
    content: "more_vert";
  }

  > ul {
    right: 6px;
  }
}

#burger[open] {
  > .icon::before {
    content: "close";
  }
}

@media (min-width: 45.01rem) {
  #burger {
    display: none;
  }
}

@media (max-width: 45rem) {
  nav {
    display: none;
  }
}

#logout {
  padding-top: 6px;

  app-button {
    --button-background-color: var(--header-logout-button-background-color--);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    color: var(--header-logout-button-color--);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.login-link {
  display: flex;
  align-items: center;
  font-size: .9rem;
  padding: 6px;
  border: 1px solid var(--header-border-color--);
  border-radius: 18px;
}

.background-hover:hover {
  color: var(--header-color-hover--);

  * {
    color: var(--header-color-hover--);
  }

  background-color: hsl(from var(--header-background-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) / 10));
}

[hidden] {
  visibility: collapse;
  width: 0;
  height: 0;
}
