<div id="header">
  <details class="overlay icon-list list-divided" id="burger">
    <summary class="icon background-hover">
    </summary>
  </details>
  <a class="logo" href="/">
    <img src="/assets/img/Logo_Placeholder.png" alt="Logo"/>
  </a>
  <nav>
    <ul id="items" class="items">
      <li>
        <a href="/graphicnovels">
          <span class="graphic-novel-icon"></span>
          <span data-id="graphic-novels-text">Graphic novels</span>
        </a>
      </li>
      <li>
        <a href="/books">
          <span class="book-icon"></span>
          <span data-id="books-text">Books</span>
        </a>
      </li>
      <li>
        <a href="/movies">
          <span class="movie-icon"></span>
          <span data-id="movies-text">Movies</span>
        </a>
      </li>
      <li>
        <a href="/shows">
          <span class="show-icon"></span>
          <span data-id="shows-text">Shows</span>
        </a>
      </li>
      <li>
        <a href="/games">
          <span class="game-icon"></span>
          <span data-id="games-text">Games</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="search-box">
    <app-search-input></app-search-input>
    <div id="search-dropdown">
      <div class="dropdown-container">
        <div id="showing-results">
        </div>
        <ul id="search-elements" tabindex="0"></ul>
      </div>
    </div>
  </div>
  <details class="overlay icon-list list-divided" id="user">
    <summary>
      <img id="profile-picture" src="/assets/img/User_Placeholder.svg" alt="Profile"/>
    </summary>
    <ul class="list-divided">
      <li>
        <a id="profile-link" href="/users/user">
          <span class="profile-icon"></span>
          <span id="profile-text">Profile</span>
        </a>
      </li>
      <li>
        <a href="/users/about/friends">
          <span class="friends-icon"></span>
          <span id="friends-text">Friends</span></a>
      </li>
      <li>
        <a href="/users/about/comments">
          <span class="comment-icon"></span>
          <span id="comments-text">Comments</span>
        </a>
      </li>
      <li>
        <a href="/users/about/reviews">
          <span class="review-icon"></span>
          <span id="reviews-text">Reviews</span>
        </a>
      </li>
      <li id="logout">
        <app-button id="logout-button">
        <span>
          <span class="logout-icon"></span>
          <span id="logout-text">Logout</span>
        </span>
        </app-button>
      </li>
    </ul>
  </details>
  <div id="login">
    <a href="/login" class="login-link background-hover">
      <span id="login-text">Log in</span>
    </a>
  </div>
  <details class="overlay icon-list list-divided" id="settings">
    <summary class="icon background-hover" title="Settings">
    </summary>
    <ul class="list-divided">
      <li>
        <a href="/users/about/settings">
          <span id="settings-icon" class="settings-icon"></span>
          <span id="settings-text">Settings</span>
        </a>
      </li>
      <li>
        <a href="/users/about/preferences">
          <span class="settings-icon"></span>
          <span id="preferences-text">Preferences</span>
        </a>
      </li>
    </ul>
  </details>
</div>
