:host {
  --brightness-change--: 5;
  --button-background-color--: var(--button-background-color, hsl(208 50% 46.5%));
  --button-background-color-hover--: hsl(from var(--button-background-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --button-color--: var(--button-color, white);
  --button-color-hover--: hsl(from var(--button-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--)));

  --button-outline-color--: var(--button-outline-color, highlight);

  --button-background-color-disabled--: hsl(from var(--button-background-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) * 2));
  --button-color-disabled--: hsl(from var(--button-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) * 2));
}

:host {
  display: inline-flex;
}

button {
  border-radius: 5px;
  display: inline-flex;
  color: var(--button-color--);
  flex: 1 1 100%;
  padding: .3rem;
  justify-content: center;
  border: 0;
  background-color: var(--button-background-color--);
  align-items: center;
}

button:focus-visible {
  outline: var(--button-outline-color--) 2px solid;
}

button:hover, button:focus {
  background-color: var(--button-background-color-hover--);
  color: var(--button-color-hover--);
}

button:active {
  background-color: var(--button-background-color-hover--);
}

button[disabled] {
  background-color: var(--button-background-color-disabled--);
  color: var(--button-color-disabled--);
}
