@import "../../../css/icon.css";
@import "../app-input/app-input.css";

.icon::before {
  display: flex;
  content: "search";
  font-size: 1.5rem;
  color: var(--input-label-color--);
}

.parent {
  min-width: 0;
  margin: .6rem 3px .6rem;
}

input {
  display: inline-flex;
  flex: 1 1 100%;
  min-width: 0;
  outline: none;
  border: none
}

.parent {
  flex: 1;
}

#outline:has(input:focus-visible) {
  outline: solid 3px var(--input-outline-color--);
}

#outline:hover {
  transition: border-color ease 50ms;
}

app-button {
  --button-outline-color: var(--input-outline-color--);
  --button-background-color: none;
  --button-background-color-hover: none;
  display: inline-flex;
  align-self: center;
  align-items: center;
  margin-right: var(--input-padding--);
}

::part(button) {
  display: inline-flex;
  padding: 0;
  border: none;
  cursor: pointer;
}

:host(:state(interacted-invalid)) {
  #outline {
    border-color: var(--input-invalid-color--);
  }
}

:host(:state(disabled)) {
  [class$='-icon']::before {
    color: var(--input-color-disabled--);
  }
}
