:host {
  --autocomplete-selected-background-color--: var(--autocomplete-selected-background-color, whitesmoke);
  --autocomplete-selected-background-color-hover--: hsl(from var(--autocomplete-selected-background-color--) h s calc(l - (clamp(-1, calc((l - 50) * 100), 1)) * var(--brightness-change--) / 2));
}

ul {
  margin: 0;
  padding: 0;
}

.parent {
  flex-direction: column;
}

li {
  list-style: none;
}

#selected {
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: .3rem;
  gap: .12rem;
}

button {
  font-size: .75em;
  border-radius: .6rem;
  border: var(--input-border-color--) .06rem solid;
  color: var(--input-color--);
  background-color: var(--autocomplete-selected-background-color--);
}

button:hover {
  background-color: var(--autocomplete-selected-background-color-hover--);
}

button::after {
  content: " x"
}
