@import "../../../css/icon.css";
@import "../app-input/app-input.css";

.eye-open-icon::before {
  display: flex;
  content: "visibility";
  color: var(--input-label-color--);
}

.eye-closed-icon::before {
  display: flex;
  content: "visibility_off";
  font-size: 1.5rem;
  color: var(--input-label-color--);
}

input {
  display: inline-flex;
  flex: 1 1 100%;
  min-width: 0;
  outline: none;
  border: none
}

app-button {
  --button-outline-color: var(--input-outline-color--);
  --button-background-color: none;
  --button-background-color-hover: none;
}

.parent {
  flex: 1;
}

#outline:hover,
#outline:has(input:focus) {
  border-color: var(--input-border-color-hover--);
  transition: border-color ease 50ms;
}

#outline:has(input:focus-visible) {
  outline: solid 3px var(--input-outline-color--);
}

#outline {
  outline-color: Highlight;
}

app-button {
  display: inline-flex;
  align-self: center;
  align-items: center;
  margin-right: 6px;
}

::part(button) {
  display: inline-flex;
  border: none;
  padding: 0;
}

:host(:state(interacted-invalid)) {
  #outline {
    border-color: var(--input-invalid-color--);
  }
}

:host(:state(disabled)) {
  [class$='-icon']::before {
    color: var(--input-color-disabled--);
  }
}
